@import '../../styles/customMediaQueries.css';

.root {
  position: relative;
  display: flex;
}

.icon {
  display: flex;
  width: 24px;
  align-self: stretch;
  border-bottom: 2px solid var(--marketplaceColor);
  background-color: var(--colorWhite);
}

.iconSvg {
  margin: auto;
}

.iconSvgGroup {
  stroke: var(--marketplaceColor);
  stroke-width: 2.5px;

  @media (--viewportMedium) {
    stroke-width: 2px;
  }
}

.iconSpinner {
  margin: auto;
  width: 23px;
}

.input {
  flex-grow: 1;
  height: 50px;
  padding-left: 10px;
  margin: 0;
  line-height: unset;
  border-bottom-width: 2px;

  /* Safari bugfix: without this Safari will print placeholder to a wrong place */
  &::-webkit-input-placeholder {
    line-height: normal;
  }

  &:hover,
  &:focus {
    border-bottom-color: var(--marketplaceColor);
    outline: none;
  }
}

/*
Predictions container can be overriden with new container styles for
size and position, etc.
*/
.predictionsRoot {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorGrey100);
  border-top: none;
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 1);
}

.predictionsRootGoogle {
  /* Google Maps needs 72px bottom padding to accommodate logo, Mapbox doesn't have one */
  padding-bottom: 72px;
}

.predictionsRootMapbox {
  /* Google Maps needs 72px bottom padding to accommodate logo, Mapbox doesn't have one */
  padding-bottom: 8px;
}

/*
The Google Maps API TOS requires us to show a Powered by Google logo
next to the autocomplete service predictions. It is rendered to the
bottom of the container.
*/
.poweredByGoogle {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 18px;
  background-image: url(./images/powered_by_google_on_non_white_hdpi.png);
  background-size: auto 18px;
  background-position: center;

  @media (--viewportMedium) {
    background-position: center left 36px;
    margin-bottom: 0;
  }
}

/* List of predictions, with a responsive padding size */
.predictions {
  composes: marketplaceBodyFontStyles from global;

  margin: 0;
  padding: 8px 0;
  list-style: none;

  & li {
    margin: 0;
    line-height: 24px;
    border-left: 6px solid transparent;
    padding: 12px 16px;
    cursor: pointer;

    @media (--viewportMedium) {
      padding: 12px 24px;
    }

    &:hover,
    &.highlighted {
      background-color: transparent;
      border-radius: 0;
    }
  }

  .listItemBlackText {
    color: var(--colorGrey900);

    &:hover,
    &.highlighted {
      border-left: 6px solid var(--colorGrey900);
      color: var(--colorGrey900);
    }
  }

  .listItemWhiteText {
    color: var(--colorGrey900);

    &:hover,
    &.highlighted {
      border-left: 6px solid var(--colorGrey900);
      color: var(--colorGrey900);
    }
  }
}

.currentLocation {
  composes: p from global;
}

.currentLocationIcon {
  margin-right: 10px;
  margin-bottom: 1px;
}

.invert {
  filter: invert(80%);
}
