@import '../../../../../styles/customMediaQueries.css';

.currentPage {
  color: var(--colorBlack);
}

.linkMenuLabelWrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.linkMenuLabel {
  font-family: var(--fontFamilyHeading);
  font-weight: var(--fontWeightRegular);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--colorGrey700);
  transition: var(--transitionStyleButton);
  padding: 0;
  margin: 0;

  &:hover {
    color: var(--colorBlack);
    text-decoration: none;
  }
}

.linkMenuIsOpen {
}

.arrowIcon {
  margin-left: 4px;
}

.linkMenuContent {
  min-width: 200px;
  padding: 12px 0;
}

/* left animated "border" like hover element */
.menuItemBorder {
  position: absolute;
  top: 2px;
  left: 0px;
  height: calc(100% - 4px);
  width: 0;
  transition: width var(--transitionStyleButton);
}

.menuLink {
  position: relative;
  display: block;
  width: 100%;
  min-width: 200px;
  margin: 0;
  padding: 8px 16px;

  font-family: var(--fontFamilyHeading);
  font-weight: var(--fontWeightRegular);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--colorGrey700);
  text-align: left;
  transition: var(--transitionStyleButton);

  &:hover {
    color: var(--colorBlack);
    text-decoration: none;

    & .menuItemBorder {
      width: 4px;
      background-color: var(--marketplaceColor);
    }
  }
}
