@import '../../../../../styles/customMediaQueries.css';

.priorityLinkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.priorityLink {
  font-family: var(--fontFamilyHeading);
  font-weight: var(--fontWeightRegular);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--colorGrey700);
  text-decoration: none;
  transition: var(--transitionStyleButton);
  white-space: nowrap;

  &:hover {
    color: var(--colorBlack);
    text-decoration: none;
  }
}

.highlight {
  color: var(--marketplaceColor);

  &:hover {
    color: var(--marketplaceColorDark);
  }
}

.priorityLinkLabel {
  display: inline-block;
  text-decoration: inherit;
}
